h1{
    text-align: center;
}

.card-deck{
    padding: 5%;
}

body{
	font-size: 1vmax;
}

.card{
	overflow: hidden;
	padding-block: 2.5%;
	border: none;
	height: 16em;rgba(255, 255, 255, 0.623)
 }
.col-lg-3{
    padding-left: 0.5%;
	padding-right: 0.5%;
} 

.col-3{
	padding-left: 0.5%;
	padding-right: 0.5%;
}

.card-img {
    width: 100%;
    background-color: black; 
    background-position: center;
    background-size: cover;
    transition:all 0.5s ease-in-out;
	max-width: 100%;
	max-height: 100%;
  }
  .card:hover .card-img,
  .card:focus .card-img {
    transform: scale(1.1);
  }

  .hovereffect {
    width: 100%;
	float: left; 
    overflow: hidden;
    position: relative;
    cursor: default;
}

.hovereffect .card-img-overlay p{
	background: rgba(255, 255, 255, 0.623);
	padding: 0px;
	transition: transform 0.3s;
	visibility: visible;
	text-align: center;
	transition: all 0.3s ;
}

.hovereffect:hover p{
	transform: translate3d(0,200%,0);
	visibility: hidden;
}


.hovereffect .overlay .icon-links a{
	width: 30%;
	height: 35%;
}

.hovereffect .overlay h2 #design{
	font-size: 0.8em;
}

.hovereffect .overlay h2 b{
	text-align: center;
}

.hovereffect .overlay{
	width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	height: 7em;
	background: ;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect h2{
    color: rgb(0, 0, 0);
    position: relative;
    font-size: 1.2em;
    padding: 0.1em;
    background: rgba(255, 255, 255, 0.623);
	margin: 0px;
	display: inline-block;
	width: 100%;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a{
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}
.hovereffect .overlay .icon-links a img {
	max-width: 100%;
	max-height: 100%;
	padding-left: 0.2em;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


.hovereffect:hover h2{
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.hovereffect .card-img-overlay{
	padding-left: 0px;
	padding-right: 0px;
}

